Skip to content
Search or jump to…

Pull requests
Issues
Marketplace
Explore
 
@melynngithub 
melynngithub
/
melynngithub.github.io
1
00
Code
Issues
Pull requests
Actions
Projects
Wiki
Security
Insights
Settings
1st commit
1st publish attempt
 main
@melynngithub
melynngithub committed 8 hours ago 
1 parent 3fce8f4 commit bc1c02116d6dbdf24b8f98e174c6903c5a5f3387
Showing  with 154 additions and 0 deletions.
 BIN +1.27 MB banner7.jpg 
Binary file not shown.
 37  index.html 
@@ -0,0 +1,37 @@
<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <style>@import url('https://fonts.googleapis.com/css2?family=Beth+Ellen&family=Princess+Sofia&display=swap');
    </style>

  </head>
  <body>
      <div class="header">
        <h1 class="headingText"> &nbsp; Mrs. Lynn</h1>
      </div>
    <div class="topnav">
        <a href="mm1.html">Mulitmedia 1</a>
        <a href="ecs.html">Exploring Computer Science</a>
        <a href="apcsp.html">AP Computer Science Principles</a>
        <a href="apcsa.html">AP CSA</a>
        <a href="mm2html.html">Multimedia 2 - HTML/CSS</a>
        <a href="mm2game.html">Multimedia 2 - Game Design</a> 
    </div>

    <div class="section group">
        <div class="col span_1_of_3">
        This is column 1
        </div>
        <div class="col span_1_of_3">
        This is column 2
        </div>
        <div class="col span_1_of_3">
        This is column 3
        </div>
    </div>


  </body>
</html> 
 117  style.css 
@@ -0,0 +1,117 @@
* {
  box-sizing: border-box;
}
@import url('https://fonts.googleapis.com/css2?family=Beth+Ellen&display=swap');
.headingText{
    font-family: 'Princess Sofia', cursive;
    font-size: 90px;
    color: #ffdd01;
    background-color: rgba(84, 84, 84, 0);
    text-shadow: rgb(0, 0, 0) 3px 2px 3px;
    float: right;
    padding-right: 120px;

}

/*menu start*/
.topnav {

  background-color: #3d5a17;
  overflow: hidden;
  width:100%;
}
.topnav a{
    float: left;  
    color: white;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }

  .topnav a:hover {
    background-color: #ffdd01;
    color: #000000;
  }
  .topnav a.active {
    background-color: #ffdd01;
    color: #000000;
  }


  /*menu end*/

.header {
background-image:url("banner7.jpg");
color:#fff;
padding: 0;
height: 300px;
width: 100%;
font-family: "Sedgwick Ave", cursive;
margin-left: 0;
margin-top: 0;
}

/*
http://www.responsivegridsystem.com/
*/
/*  SECTIONS  */
.section {
	clear: both;
	padding: 0px;
	margin: 0px;
}

/*  COLUMN SETUP  */
.col {
	display: block;
	float:left;
	margin: 1% 0 1% 1.6%;
}
.col:first-child { margin-left: 0; }


/*  GROUPING  */
.group:before,
.group:after {
	content:"";
	display:table;
}
.group:after {
	clear:both;
}
.group {
    zoom:1; /* For IE 6/7 */
}

/*  GRID OF THREE  */
.span_3_of_3 {
	width: 100%;
}
.span_2_of_3 {
	width: 66.1%;
}
.span_1_of_3 {
	width: 32.2%;
}

/*  GO FULL WIDTH AT LESS THAN 480 PIXELS */

@media only screen and (max-width: 480px) {
	.col { margin: 1% 0 1% 0%;}
	.span_3_of_3, .span_2_of_3, .span_1_of_3 { width: 100%; }
}


body {
    background: white;
    margin:0px;
    width:100%;
}

p {
color: black;
}


